nav {

}

.resultadosFinales{
  padding-top: 40px;s
}

.final{
  background-color: rgb(57, 57, 57);
  color:white;
  padding-top: 20px;

}
h1{
  text-shadow: 0px 0px 10px white;
}
h3, h4{
  font-family: 'Russo One', sans-serif;
  text-shadow: 0px 0px 4px white;
}
#player1, #p1{
  color: blue;

}

#player2, #p2{
  color:red;
}

#chart1, #chart2{
  max-width: 100% !important;
  margin: 0px !important;
}

.batallometro {
  width: 100%;
  color: black;
}

.h6-batallometro {
  font-family:'Russo One', sans-serif;
  font-size: 16px;
  color: grey;
}

/* PROGRESS BAR*/

.progressBar {
    height: 35px;
    border-radius: 1em;
    margin:10px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    padding-right: 20px;
    padding-top: 5px;
    max-width: 90vw;
    background:
      linear-gradient(-45deg,
        rgba(255, 255, 255, 0.15) 25%,transparent 25%,
        transparent 50%, rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,transparent 75%)
      left/30px 30px repeat-x,
      linear-gradient(to right, green 0%, yellow 50%, red 100%) left/var(--p,100%) fixed,
      lightgray;
  box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.5);
  animation: change 1s linear infinite;

}
/* PUBLICIDAD */
.publicidad-res-1{
  width: 100%;
  height: 200px;
  background-color: rgb(7, 99, 115);
}
.publicidad-res-2 {
  width: 100%;
  height: 200px;
  background-color: rgb(238, 126, 100);
}


.terminar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(57, 57, 57);
}
.redes{
  background-color: rgb(57, 57, 57);
}
